

<br />
<br />

<div class="row">
    @if (ViewBag.UncheckedProducts != null)
    {
        @foreach (Online_Shop.Models.Product prod in ViewBag.UncheckedProducts)
        {
            <div class="col-4 mb-4">
                

                    <div class="card-body ">

                        @if (prod.Check == null)
                        {
                            <div class="card" style="background-color:floralwhite; width:400px; height:803px; margin:10px; align-items:center; align-self: center">

                                @Html.Partial("ProductInfo", @prod)


                                <a class="btn btn-success" href="/Checks/Edit/@prod.Id"> Editare </a>

                            </div>
                                  
                        }

                    </div>

                
            </div>
        }

    }
    else
    {
       <h2> Nu exista produse ce asteapta a fi validate!</h2>
    }

</div>

<br />
<br />

